# "Pumping It Up" Predicting Failing Wells
- Sam Cannon

Your goal is to predict the operating condition of a waterpoint for each record in the dataset. You are provided the following set of information about the waterpoints:

- amount_tsh - Total static head (amount water available to waterpoint)
- date_recorded - The date the row was entered
- funder - Who funded the well
- gps_height - Altitude of the well
- installer - Organization that installed the well
- longitude - GPS coordinate
- latitude - GPS coordinate
- wpt_name - Name of the waterpoint if there is one
- num_private -
- basin - Geographic water basin
- subvillage - Geographic location
- region - Geographic location
- region_code - Geographic location (coded)
- district_code - Geographic location (coded)
- lga - Geographic location
- ward - Geographic location
- population - Population around the well
- public_meeting - True/False
- recorded_by - Group entering this row of data
- scheme_management - Who operates the waterpoint
- scheme_name - Who operates the waterpoint
- permit - If the waterpoint is permitted
- construction_year - Year the waterpoint was constructed
- extraction_type - The kind of extraction the waterpoint uses
- extraction_type_group - The kind of extraction the waterpoint uses
- extraction_type_class - The kind of extraction the waterpoint uses
- management - How the waterpoint is managed
- management_group - How the waterpoint is managed
- payment - What the water costs
- payment_type - What the water costs
- water_quality - The quality of the water
- quality_group - The quality of the water
- quantity - The quantity of water
- quantity_group - The quantity of water
- source - The source of the water
- source_type - The source of the water
- source_class - The source of the water
- waterpoint_type - The kind of waterpoint
- waterpoint_type_group - The kind of waterpoint

# Importing Packages

-  Pandas - allows us to play around with data frames
-  Numpy - allows us to perform mathematical functions with the data, create numpy arrays (which are required in SciKitLearn)
-  Matplotlib.pyplot - plotting package that we will not use, BUT YOU COULD! (you have to have %matplotlib inline, to show plots)
-  Seaborn - seaborn is an advanced visualization package in Python
-  OS - os allows us to see and change our working directory
-  InteractiveShell - allows us to run multiple commands in the same cell 
-  pd.set_options - this allows us to see all of our columns and our rows if we want
-  plotly - advanced visualization package (https://towardsdatascience.com/its-2019-make-your-data-visualizations-interactive-with-plotly-b361e7d45dc6)
-  plotly_express - advanced viz package (same link above)
-  cufflinks - advanced viz package (https://towardsdatascience.com/the-next-level-of-data-visualization-in-python-dd6e99039d5e)

In [70]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#lines below let allow multiple results from a line of code to be shown e.g. df.head() + df.columns
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#this allows us to see all of our columns or rows in jupyter notebook
pd.set_option('display.max_columns', None)

#plotly provides a robust library of interactive charts, where you can explore the data in numerous ways,
import plotly.offline as py
import plotly_express as px
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
import cufflinks
cufflinks.go_offline(connected=True)
init_notebook_mode(connected=True)

In [71]:
#check the working directory
os.getcwd()
#we need to change the working directory to wherever our data is stored
os.chdir('C:\\Users\\Sam Cannon\\Desktop\\Python\\Data Sets')

'C:\\Users\\Sam Cannon\\Desktop\\Python\\Data Sets'

In [72]:
#import the train, test and label csv's from local storage
train = pd.read_csv('WaterPumpTrain.csv')
test = pd.read_csv('WaterPumpTest.csv')
labels = pd.read_csv('waterPumpLabels.csv')

In [73]:
#now our data is imported, we need to append the labels to the end of the train set, merging the data together on a 
# shared column, which in this case is id, ensures that our values match up
train = train.merge(labels, on='id')

In [74]:
#lets check to see if it worked how we wanted it to, status_group (our labels) is our last column now
train.head(1)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,3/14/2011,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional

In [75]:
#look at overall stats for features, note which ones are objects and which ones are floats or integers
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
id                       59400 non-null int64
amount_tsh               59400 non-null float64
date_recorded            59400 non-null object
funder                   55765 non-null object
gps_height               59400 non-null int64
installer                55745 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
wpt_name                 59400 non-null object
num_private              59400 non-null int64
basin                    59400 non-null object
subvillage               59029 non-null object
region                   59400 non-null object
region_code              59400 non-null int64
district_code            59400 non-null int64
lga                      59400 non-null object
ward                     59400 non-null object
population               59400 non-null int64
public_meeting           56066 non-null object
recorded_by              59400 non-null object
scheme_management        55523 non-null object
scheme_name              31234 non-null object
permit                   56344 non-null object
construction_year        59400 non-null int64
extraction_type          59400 non-null object
extraction_type_group    59400 non-null object
extraction_type_class    59400 non-null object
management               59400 non-null object
management_group         59400 non-null object
payment                  59400 non-null object
payment_type             59400 non-null object
water_quality            59400 non-null object
quality_group            59400 non-null object
quantity                 59400 non-null object
quantity_group           59400 non-null object
source                   59400 non-null object
source_type              59400 non-null object
source_class             59400 non-null object
waterpoint_type          59400 non-null object
waterpoint_type_group    59400 non-null object
status_group             59400 non-null object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [8]:
#the first thing that we are looking at is missing values
train.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [9]:
#we also have a lot of data in this set who's values are '0', lets see all of these counts, then lets replace them with 
#np.nan
########BE CAREFUL HERE, NOTE THAT PLACING 0 IN THE SUBSET HERE WOULD ALSO CODE VALUES OF 'FALSE' AS 0, AND WE DONT WANT
########## TO REPLACE FALSE VALUES!!! DO NOT INCLUDE PERMIT OR PUBLIC MEETING IN NAN REPLACEMENT IN THE CELL BELOW
train[train == 0].count()

id                           1
amount_tsh               41639
date_recorded                0
funder                       0
gps_height               20438
installer                    0
longitude                 1812
latitude                     0
wpt_name                     0
num_private              58643
basin                        0
subvillage                   0
region                       0
region_code                  0
district_code               23
lga                          0
ward                         0
population               21381
public_meeting            5055
recorded_by                  0
scheme_management            0
scheme_name                  0
permit                   17492
construction_year        20709
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

# Removing Redundant and Highly Unique Features

__We will begin by removing features that are duplicates, and then we will remove features that are highly unique, since we must keep our dummy variable count below our sample size and these unique features may not be lending much information on the variability between pump status_group__

In [10]:
#there seem to be several features that are redundant here, lets remove those that are essentially direct copies or similar 
#lets start with waterpoint features
train.groupby(['waterpoint_type', 'waterpoint_type_group']).size()
#looks like we can remove either one since they are copies

waterpoint_type              waterpoint_type_group
cattle trough                cattle trough              116
communal standpipe           communal standpipe       28522
communal standpipe multiple  communal standpipe        6103
dam                          dam                          7
hand pump                    hand pump                17488
improved spring              improved spring            784
other                        other                     6380
dtype: int64

In [11]:
#lets look at the source features
train.groupby(['source_class', 'source_type', 'source']).size()
#looks like we can retain any of them to represent the other two, lets keep source since it gives us more info without
# a ton of categories

source_class  source_type           source
groundwater   borehole              hand dtw                  874
                                    machine dbh             11075
              shallow well          shallow well            16824
              spring                spring                  17021
surface       dam                   dam                       656
              rainwater harvesting  rainwater harvesting     2295
              river/lake            lake                      765
                                    river                    9612
unknown       other                 other                     212
                                    unknown                    66
dtype: int64

In [12]:
#lets look at the quantity features
train.groupby(['quantity', 'quantity_group']).size()
#these are copies, we can remove one

quantity      quantity_group
dry           dry                6246
enough        enough            33186
insufficient  insufficient      15129
seasonal      seasonal           4050
unknown       unknown             789
dtype: int64

In [13]:
#lets look at quality features
train.groupby(['quality_group', 'water_quality']).size()
#looks like we can use the water_quality feature to represent quality with a good number of categories, capturing more info

quality_group  water_quality
colored        coloured                490
fluoride       fluoride                200
               fluoride abandoned       17
good           soft                  50818
milky          milky                   804
salty          salty                  4856
               salty abandoned         339
unknown        unknown                1876
dtype: int64

In [14]:
#lets look at the payment feature
train.groupby(['payment_type', 'payment']).size()
#looks like we can remove either since they are direct copies

payment_type  payment
annually      pay annually              3642
monthly       pay monthly               8300
never pay     never pay                25348
on failure    pay when scheme fails     3914
other         other                     1054
per bucket    pay per bucket            8985
unknown       unknown                   8157
dtype: int64

In [15]:
#lets look at the management features
train.groupby(['management_group', 'management']).size()
#looks like we can retian management_group and have less categories or take management and have a little more info, still
#without an overwhelming amount of categories, lets take management to see if we can increase predictive ability with 
#that little bit of more info

management_group  management
commercial        company               685
                  private operator     1971
                  trust                  78
                  water authority       904
other             other                 844
                  other - school         99
parastatal        parastatal           1768
unknown           unknown               561
user-group        vwc                 40507
                  water board          2933
                  wua                  2535
                  wug                  6515
dtype: int64

In [16]:
#lets look at extraction features now 
train.groupby(['extraction_type_class', 'extraction_type_group', 'extraction_type']).size()
#looks like we could retain extraction_type_class and have less categories to deal with or go with extraction_type and have
#more info, but more categories...lets keep extraction_type

extraction_type_class  extraction_type_group  extraction_type
gravity                gravity                gravity                      26780
handpump               afridev                afridev                       1770
                       india mark ii          india mark ii                 2400
                       india mark iii         india mark iii                  98
                       nira/tanira            nira/tanira                   8154
                       other handpump         other - mkulima/shinyanga        2
                                              other - play pump               85
                                              other - swn 81                 229
                                              walimi                          48
                       swn 80                 swn 80                        3670
motorpump              mono                   mono                          2865
                       other motorpump        cemo                            90
                                              climax                          32
other                  other                  other                         6430
rope pump              rope pump              other - rope pump              451
submersible            submersible            ksb                           1415
                                              submersible                   4764
wind-powered           wind-powered           windmill                       117
dtype: int64

In [17]:
#lets look at the scheme features now
train.groupby(['scheme_management', 'scheme_name', 'management']).size()

scheme_management  scheme_name                   management
Company            BFFS                          company               1
                   Bagamoyo Wate                 company               5
                                                 parastatal            3
                                                 private operator     49
                                                 vwc                   3
                   Bagamoyo wate                 other                 2
                                                 parastatal           18
                                                 private operator    153
                                                 vwc                  37
                   Borehole                      vwc                   1
                   Borehole drilling project     vwc                   1
                   Bulamba piped scheme          company               2
                   Burieni water supply          company               1
                   Doe water supply              company               3
                   EKTM 2 water  supply          company               1
                   EKTM 2 water suply            company              25
                   EKTM 2 water supply           company               9
                   EKTM 3 water supply           company              51
                   Fufulamsuri water supply      company               1
                   GRUMETI                       company               6
                   HESAWA                        private operator      1
                   Hakwe water supply            company              10
                   Holili water supply           company              23
                   I                             company               1
                   IKTM 2                        company               1
                   IKTM 2 water supply           company               1
                   IKTM 3 water supply           company               1
                   Ibukoni kimanga water supply  company               1
                   Iburieni water supply         company               6
                   Ihum                          company               1
                                                                    ...
Water authority    Suwasa water supply           vwc                   1
                                                 water authority       5
                   TWESA                         vwc                   1
                   Tank fu Mwenge                water authority       1
                   Tank fupi Mwenge              water authority       8
                   Tank refu Kasokola            other                 1
                                                 water authority       3
                   Tank refu Mtakuja             water authority       6
                   Tank refu Sitalike            water authority       7
                   Tungu water piped scheme      water authority       1
                   Tutu                          private operator      2
                                                 vwc                  22
                                                 wug                   1
                   UWAMAMA                       vwc                   4
                   Urambo water supply           water authority      15
                   Vumari water supply           vwc                  11
                   Vunta water supply            private operator      1
                                                 vwc                  10
                   WD                            vwc                   1
                   Water from DAWASCO            private operator     19
                                                 trust                 6
                                                 vwc                   3
                   World Bank                    vwc                  60
                   World Vision                  vwc                   8
                   World vision                  vwc                   1
                   Yongoma                       vwc                  16
                   Zepalama                      vwc                   5
                   no scheme                     water authority       9
                   pump                          water authority       2
                   water supply at Kalebejo      water board           1
Length: 3381, dtype: int64

In [18]:
train.groupby(['scheme_name', 'status_group']).size()
#maybe we should keep scheme_name, there are some that are more represented than others, potential for increased predictive
# power, we can drop scheme_management, it has missingness and is about the 
#same as managemen

scheme_name                  status_group
14 Kambarage                 functional                   7
A                            functional                  23
                             functional needs repair      2
                             non functional              17
ADP                          functional                   6
                             non functional               3
ADP Simbo                    functional                  15
                             non functional              10
ADP Simbu                    non functional               1
ADRA                         functional                   7
                             non functional               1
AIC                          functional                   1
AIC kahunda                  functional                   1
AMREF                        non functional               3
AMRSF                        non functional               1
AUWASA Pipe scheme           functional                   4
AUWASA pipe scheme           functional                   6
Adra                         functional                   1
African Barrick Gold         functional                   1
Akheri gravity water supply  functional                   8
                             functional needs repair      2
                             non functional               3
Alpha crust                  functional                   1
                             functional needs repair      1
Amani Water Supply           functional needs repair     11
Amani spring                 functional                  23
                             non functional               2
Anglic                       functional                  22
                             non functional               2
Araa                         non functional               2
                                                       ...
sakalenga water supply sche  functional                  14
shallow well                 functional                  19
                             non functional              10
tove mtwango water supply s  functional                   2
tove-mtwango                 functional                   1
upper Ruv                    functional                   2
upper Ruvu                   functional                  53
                             non functional              38
upper Ruvuv                  functional                   1
upper ruvu                   functional                   1
v                            functional                   1
villagers                    functional                   1
wananc                       functional                   2
                             functional needs repair      1
wangama water supply scheme  functional                  25
                             non functional               3
wanging'ombe supply scheme   functional                 146
                             functional needs repair     24
                             non functional              64
wanging'ombe water supply s  functional                 165
                             functional needs repair     47
                             non functional              49
wanginyi water supplied sch  functional                  16
water supply Katungulu       non functional               1
water supply at Kalebejo     non functional               1
water supply at Nyakasungwa  functional                   2
                             non functional               3
water supply in Mwanza       functional                   1
water supply in katungulu    functional                   2
                             non functional               7
Length: 4197, dtype: int64

In [19]:
#now lets look at lga and ward
train.groupby(['lga', 'ward']).size()
#lets drop ward, lga represents the area, we have region as well as basin, so the location of the well is well represented
#in our other features, we also have the district code, so this seems like it would be adding minimal value

lga           ward
Arusha Rural  Bangata           33
              Bwawani           37
              Ilkiding'a        86
              Kimnyaki          79
              Kiranyi          115
              Kisongo           33
              Mateves           22
              Mlangarini        92
              Moivo             44
              Moshono           44
              Murieti           29
              Musa              29
              Mwandeti          17
              Nduruma          205
              Oldonyosambu      77
              Oljoro             8
              Olkokola         133
              Oltroto           75
              Oltrumet          52
              Sokoni II         42
Arusha Urban  Baraa              2
              Daraja Mbili       3
              Elerai            11
              Engutoto           1
              Kaloleni           5
              Kimandolu          2
              Lemara             4
              Levolosi           2
              Ngarenaro          3
              Olorien            4
                              ...
Urambo        Mwongozo          16
              Songambele        28
              Ugunga             7
              Ukondamoyo         7
              Ukumbisiganga     13
              Urambo            28
              Ushokola           5
              Usinge             8
              Usisya            13
              Ussoke            11
              Uyowa              6
              Uyumbu            32
              Vumilia            6
Uyui          Bukumbi           20
              Goweko            18
              Ibiri             37
              Igalula           46
              Ikongolo          11
              Ilolangulu        40
              Isikizya          29
              Kizengi           13
              Loya              10
              Lutende            6
              Mabama            25
              Magiri            10
              Ndono             12
              Shitage            3
              Ufuluma           16
              Upuge             18
              Usagali           25
Length: 2191, dtype: int64

In [20]:
#lets look at coding
train.groupby(['region_code', 'district_code']).size()

region_code  district_code
1            0                  23
             1                 888
             3                 361
             4                 347
             5                 358
             6                 224
2            1                 189
             2                1206
             3                 109
             5                 201
             6                 310
             7                1009
3            1                 595
             2                 519
             3                 877
             4                1225
             5                 620
             6                 109
             7                 434
4            1                 698
             2                 408
             3                 323
             4                 110
             5                 293
             6                 266
             7                 127
             8                 288
5            1                1128
             2                 521
             3                 997
                              ...
19           5                 332
             6                 488
             7                 347
             8                 132
20           1                 171
             2                 716
             3                 396
             4                 438
             6                 248
21           1                 550
             2                 274
             3                 297
             4                 276
             5                 186
24           30                326
40           43                  1
60           33                115
             43                350
             53                454
             60                 63
             63                 37
             67                  6
80           13                391
             23                293
             43                154
             53                291
             62                109
90           33                759
             63                158
99           1                 423
Length: 130, dtype: int64

In [21]:
#region and region_code are redundant, with one you have the other, lets drop region code, keep district_code

In [22]:
#lets look at basin and subvillage
train.groupby(['basin', 'subvillage']).size()
#lets drop subvillage, too many uniques, no clear dominance, and basin gives us a broad coverage of the subvillage areas
# while the region, district, basin all give us good location information, not to mention longitude and latitude

basin        subvillage
Internal     Abdujumbe              3
             Afandi                 2
             Ahara                  1
             Aicho Kaskazini        1
             Aicho Kusini           1
             Alagwa                 5
             Alairataat             3
             Alakirikir             4
             Alasai                 1
             Aleilelai              4
             Alsini                 2
             Amani                  3
             Ambara                 1
             Ampa                   2
             Angweduru A            1
             Ansi                   2
             Ants A                 4
             Ants B                 3
             Araa                   1
             Araa Mkunjo            1
             Arahati                4
             Arati                  5
             Ariahati               1
             Arii                   1
             Arkaria                5
             Arri                   4
             Ascarida               1
             Athin Kati             1
             Athni Mwisho           1
             Atlaa                  2
                                   ..
Wami / Ruvu  Vuleni                 3
             Vundumu                1
             Vyanjasitini           1
             Wafugaji[Umasaini]     1
             Wagogo                 1
             Walambe                1
             Walisa                 1
             Waya                   1
             Wendahi                1
             Wisuzaje               1
             Yamba                  1
             Yangeyange             2
             Yavayava               2
             Yombo                  5
             Zahanati              16
             Zahanati 2             1
             Zahani                 1
             Zaire                  4
             Zalala                 1
             Zamahe                 1
             Zambia                 5
             Zegereni               6
             Zegero A               4
             Zindukeni              1
             Ziwajanze              3
             Zizini                 3
             Zombengalawa           5
             Zonwe                  1
             Zunga                  1
             Zunguni                1
Length: 21779, dtype: int64

In [23]:
#lets look at wpt_name, see how many values there are
train.groupby(['wpt_name', 'status_group']).size()

wpt_name                   status_group
24                         non functional                1
A Kulwa                    non functional                1
A Saidi                    functional                    1
Abass                      functional                    1
Abbas                      functional                    1
Abdala Hamisi              functional                    1
Abdala Mwandute            non functional                1
Abdalaa                    non functional                1
Abdalah                    functional                    1
                           non functional                2
Abdalah Ali                non functional                1
Abdalah Mashaka            functional                    1
Abdalah Miliki             non functional                1
Abdalah Mwakibona          functional                    1
Abdalah Shombe             functional                    1
Abdalamani Mussa           functional                    1
Abdalla Nambambili         functional                    1
Abdallah Chingi            non functional                1
Abdallah Miwani            functional                    1
Abdallah Mponzi            functional                    1
Abdallah Nassor Msabaha    functional                    1
Abdallah Nassoro           functional                    1
Abdi                       functional                    2
Abdieri Serakike           functional                    1
Abdu                       functional                    1
Abdul                      non functional                1
Abdul Sharif               functional                    1
Abdul Swalehe              functional                    1
Abedi Taliwa               non functional                1
Abel Mgaya                 functional                    1
                                                      ...
Zingwa                     functional                    2
Zinzilu                    functional                    1
Zirombebha                 non functional                1
Ziwai                      functional                    1
Ziwani                     non functional                3
Zizima                     functional                    1
Zizimi                     functional                    1
Zizini                     functional                    1
Zogimlole                  non functional                1
Zogoma                     functional needs repair       1
Zogowale Primary School 1  functional                    1
Zogowale Primary School 2  functional                    1
Zolongwa                   functional                    1
Zongomela                  non functional                2
Zoza                       functional                    1
Zuberi                     functional                    2
Zugimlole                  functional                    1
Zugumlole                  non functional                1
Zuieni                     functional                    1
Zuleha                     non functional                1
Zumba                      functional                    1
Zumbawanu                  functional                    1
Zumbawanu Shuleni          functional                    1
Zungu                      functional                    1
Zunguni                    non functional                1
Zunzuli A Shuleni          non functional                1
Zuwena Kindo               non functional                1
none                       functional                 2630
                           functional needs repair      76
                           non functional              857
Length: 40552, dtype: int64

In [24]:
#these are very unique values, names of individual water points for each pump, these won't hold much power in my
#opinion, it would be unnecessary to try and put this into the model I think, convince me otherwise, I'm feeling sassy
#lets drop it

# Get Them Out of Here!
Redundant or uninformative features are assigned to a variable, unlucky_features, unlucky_features is then dropped from the train data set by using pd.drop(). In order for pd.drop() to work correctly here, we must add axis=1 after our variable in perenthesis, axis=1 means that we are wanting to drop columns whereas axis=0 would be dropping rows. Finally, our 
inplace=True argument ensures that we are not making a copy of our current data set, but we are instead making changes that will persist over the current data set

# Overview of why I dropped these features
- id was dropped becuase it is a relatively meaningless ordinal variable
- wpt_name was dropped becuase it is highly unique
- recorded_by was dropped becuase it was the same value for every data point
- waterpoint_type_group was dropped becuase it is redundant
- source_type was dropped becuase it is redundant
- source_class was dropped becuase it is redundant
- quantity_group was dropped becuase it is redundant
- quality_group was dropped becuase it is redundant
- payment_type was dropped becuase it is redundant
- management_group was dropped becuase it is redundant
- extraction_type_group was dropped becuase it is redundant
- extraction_type_class was dropped becuase it is redundant
- region_code was dropped becuase it is redundant
- subvillage was dropped becuase it was highly unique and was redundant with respect to location information (we have enough location information)
- scheme_management was dropped becuase it is redundant
- ward was dropped becuase it is redundant with respect to location information and it was highly unique
- num_private was dropped becuase it was missing most of the data
- amount_tsh was dropped becuase it was missing most of the data

In [76]:
#store our features that we want to drop inside of a variable
unlucky_features = ['id', 'wpt_name', 'recorded_by', 'waterpoint_type_group', 'source_type', 
                    'source_class', 'quantity_group', 'quality_group', 'payment_type',
           'management_group', 'extraction_type_group', 'extraction_type_class', 'region_code', 
           'subvillage', 'scheme_management', 'ward', 'num_private', 'amount_tsh']

#drop our unlucky features
train.drop(unlucky_features, axis=1, inplace=True)

#check to see if we dropped our features
train.columns
#looks like it worked

Index(['date_recorded', 'funder', 'gps_height', 'installer', 'longitude',
       'latitude', 'basin', 'region', 'district_code', 'lga', 'population',
       'public_meeting', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'management', 'payment', 'water_quality', 'quantity',
       'source', 'waterpoint_type', 'status_group'],
      dtype='object')

In [77]:
#now lets take a look at our missing values once more
train.isna().sum()

date_recorded            0
funder                3635
gps_height               0
installer             3655
longitude                0
latitude                 0
basin                    0
region                   0
district_code            0
lga                      0
population               0
public_meeting        3334
scheme_name          28166
permit                3056
construction_year        0
extraction_type          0
management               0
payment                  0
water_quality            0
quantity                 0
source                   0
waterpoint_type          0
status_group             0
dtype: int64

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 23 columns):
date_recorded        59400 non-null object
funder               55765 non-null object
gps_height           59400 non-null int64
installer            55745 non-null object
longitude            59400 non-null float64
latitude             59400 non-null float64
basin                59400 non-null object
region               59400 non-null object
district_code        59400 non-null int64
lga                  59400 non-null object
population           59400 non-null int64
public_meeting       56066 non-null object
scheme_name          31234 non-null object
permit               56344 non-null object
construction_year    59400 non-null int64
extraction_type      59400 non-null object
management           59400 non-null object
payment              59400 non-null object
water_quality        59400 non-null object
quantity             59400 non-null object
source               59400 non-null object
waterpoint_type      59400 non-null object
status_group         59400 non-null object
dtypes: float64(2), int64(4), object(17)
memory usage: 10.9+ MB

In [47]:
#lga is our next feature, since there are so many categories it wont visualize well, so lets look at a table
train.groupby(['lga', 'status_group']).size()

lga               status_group
Arusha Rural      functional                 875
                  functional needs repair     48
                  non functional             329
Arusha Urban      functional                  42
                  functional needs repair      7
                  non functional              14
Babati            functional                 381
                  functional needs repair     53
                  non functional              77
Bagamoyo          functional                 730
                  functional needs repair      2
                  non functional             265
Bahi              functional                 158
                  non functional              66
Bariadi           functional                 580
                  functional needs repair    409
                  non functional             188
Biharamulo        functional                 274
                  functional needs repair     21
                  non functional             108
Bukoba Rural      functional                 224
                  functional needs repair     97
                  non functional             166
Bukoba Urban      functional                  46
                  functional needs repair     10
                  non functional              32
Bukombe           functional                 314
                  functional needs repair     53
                  non functional             147
Bunda             functional                 133
                                            ...
Sumbawanga Urban  functional                  72
                  non functional             108
Tabora Urban      functional                  54
                  non functional             101
Tandahimba        functional                  73
                  functional needs repair     12
                  non functional             181
Tanga             functional                  42
                  functional needs repair      3
                  non functional              54
Tarime            functional                 125
                  non functional              84
Temeke            functional                  76
                  functional needs repair      3
                  non functional             136
Tunduru           functional                 226
                  functional needs repair     52
                  non functional             145
Ukerewe           functional                  91
                  functional needs repair     68
                  non functional             182
Ulanga            functional                 437
                  functional needs repair     33
                  non functional             195
Urambo            functional                 155
                  functional needs repair     14
                  non functional             213
Uyui              functional                 147
                  functional needs repair      7
                  non functional             185
Length: 356, dtype: int64

In [55]:
#now that we have gotten to funder and installer as our next features to explore, I forgot to use them in our 
#groupby tables to see if we could use one over the other, lets do that now
train.groupby(['funder', 'installer']).size()
#looks like there are less categories in funder but maybe we should keep them both since the funder will not necessarily
#be the installer and the quality of installer does not necessarily speak to the quality of the funder/competence of the
#funder and visa versa

funder                       installer
0                            0                            777
A/co Germany                 TPP TRUSTMOSHI                15
Aar                          AAR                            4
                             COCANE                        27
                             FOLAC                          1
Abas Ka                      KASHWA                         1
Abasia                       ABASIA                        29
                             DWE                           14
Abc-ihushi Development Cent  Buguba                         1
Abd                          ABD                            1
                             DWE                            6
Abdala                       ABDALA                         1
Abdul                        ABDUL                          1
Abood                        Gwaseco                        2
Abs                          Orien                          1
Aco/germany                  DWE                           13
Acord                        ACORD                          3
Acord Ngo                    Artisan                        1
                             DWE                            1
Acra                         ACRA                          46
Act                          ACT                            1
Act Mara                     ACT MARA                       1
Action Aid                   AC                             2
                             ACTION AID                     1
                             Action Aid                     1
                             DWE                            3
                             Da                             1
Action Contre La Faim        Action Contre La Faim          1
                             DWE                            8
Action In A                  Artisan                        1
                                                         ...
Wsdp                         Wachina                       55
Wsdp & Sdg                   DWE                            2
Wspd                         DWE                            1
                             NYAKILANGANI CONSTRUCTION      1
Wssp                         DWE                            2
                             WSSP                           1
Wua                          WU                           112
                             WUA                            8
                             WUS                            1
Wua And Ded                  WU                             2
Wug And Ded                  DED                            1
Wvc                          VWC                            1
                             WVC                            3
Wvt                          WVT                          158
Wwf                          IDYDC                          1
                             Serengeti District concil      1
                             WW                             1
                             WWF                           23
Wwf / Fores                  WWF/                           1
Yaole                        DWE                            1
Yasi Naini                   DWE                            1
Yasini                       Yasini                         1
Yasini Selemani              Yasini Selemani                1
Zaben                        DWE                            2
Zaburi And Neig              Zaburi and neighbors           1
Zao                          Zao                            1
Zao Water Spring             Zao water spring               3
Zao Water Spring X           Zao water spring X             1
Zinduka                      ZINDUKA                        1
Zingibali Secondary          Zingibali Secondary            1
Length: 3697, dtype: int64

__We are aggregating these categories so that we can visualize them in relation to the status_group labels, since they seem intuitively important for classification here__

In [78]:
#reduce the funder feature into less categories
# Create a function to reduce the amount of dummy columns needed whilst maintaining the 
# information contained in the column.

def purple_donkey(row):  
    '''Keep top 5 values and set the rest to 'other'''

    if row['funder']=='Government Of Tanzania':
        return 'gov'
    elif row['funder']=='Danida':
        return 'danida'
    elif row['funder']=='Hesawa':
        return 'hesawa'
    elif row['funder']=='Rwssp':
        return 'rwssp'
    elif row['funder']=='World Bank':
        return 'world_bank'    
    else:
        return 'other'
    
train['funder'] = train.apply(lambda row: purple_donkey(row), axis=1)

In [79]:
#reduce the installer feature into less categories
# Create a function to reduce the amount of dummy columns needed whilst maintaining the 
# information contained in the column.

def cheese_soup(row):
    '''Keep top 5 values and set the rest to 'other'''
    if row['installer']=='DWE':
        return 'dwe'
    elif row['installer']=='Government':
        return 'gov'
    elif row['installer']=='RWE':
        return 'rwe'
    elif row['installer']=='Commu':
        return 'commu'
    elif row['installer']=='DANIDA':
        return 'danida'
    else:
        return 'other'  

train['installer'] = train.apply(lambda row: cheese_soup(row), axis=1)

In [33]:
#check to see that it worked
train.funder.unique()
#yes

array(['other', 'rwssp', 'danida', 'hesawa', 'gov', 'world_bank'],
      dtype=object)

In [59]:
train.groupby(['funder', 'installer']).size()

funder      installer
danida      commu            8
            danida        1046
            dwe            626
            gov             13
            other         1415
            rwe              6
gov         commu          261
            dwe           4254
            gov           1607
            other         2317
            rwe            645
hesawa      dwe           1296
            gov             11
            other          894
            rwe              1
other       commu          766
            danida           4
            dwe          10160
            gov            125
            other        30679
            rwe            543
rwssp       dwe            914
            gov             12
            other          448
world_bank  commu           25
            dwe            152
            gov             57
            other         1104
            rwe             11
dtype: int64

In [64]:
#lets look at the nans, we should probably code the missing nans within public meeting and permit 
train.isna().sum()

date_recorded            0
funder                   0
gps_height               0
installer                0
longitude                0
latitude                 0
basin                    0
region                   0
district_code            0
lga                      0
population               0
public_meeting        3334
scheme_name          28166
permit                3056
construction_year        0
extraction_type          0
management               0
payment                  0
water_quality            0
quantity                 0
source                   0
waterpoint_type          0
status_group             0
dtype: int64

__We need to replace the NAs in these columns below with a value "unknown" becuase we cannot remove rows in the new prediction data (when submitting this model to the competition, we are not allowed to remove rows)__

In [80]:
#lets replace scheme_name, permit and public meeting nans with 'unknown'
train['permit'].replace(np.nan, 'Unknown', inplace=True)
train['public_meeting'].replace(np.nan, 'Unknown', inplace=True)
train['scheme_name'].replace(np.nan, 'Unknown', inplace=True)

In [81]:
#make sure that it worked
train.isna().sum()
train['permit'].unique()
train['public_meeting'].unique()
train['scheme_name'].unique()

date_recorded        0
funder               0
gps_height           0
installer            0
longitude            0
latitude             0
basin                0
region               0
district_code        0
lga                  0
population           0
public_meeting       0
scheme_name          0
permit               0
construction_year    0
extraction_type      0
management           0
payment              0
water_quality        0
quantity             0
source               0
waterpoint_type      0
status_group         0
dtype: int64

array([False, True, 'Unknown'], dtype=object)

array([True, 'Unknown', False], dtype=object)

array(['Roman', 'Unknown', 'Nyumba ya mungu pipe scheme', ...,
       'BL Nsherehehe', 'Magati  gravity spri', 'Mtawanya'], dtype=object)

# Numeric Data Cleaning

In [67]:
#lets look at our remaining missing values, we need to consider how to treat these
train.isna().sum()
train[train==0].count()

date_recorded        0
funder               0
gps_height           0
installer            0
longitude            0
latitude             0
basin                0
region               0
district_code        0
lga                  0
population           0
public_meeting       0
scheme_name          0
permit               0
construction_year    0
extraction_type      0
management           0
payment              0
water_quality        0
quantity             0
source               0
waterpoint_type      0
status_group         0
dtype: int64

date_recorded            0
funder                   0
gps_height           20438
installer                0
longitude             1812
latitude                 0
basin                    0
region                   0
district_code           23
lga                      0
population           21381
public_meeting        5055
scheme_name              0
permit               17492
construction_year    20709
extraction_type          0
management               0
payment                  0
water_quality            0
quantity                 0
source                   0
waterpoint_type          0
status_group             0
dtype: int64

We could choose to impute the overall mean or median for these values, since I ran the model once with the means and the medians, I know that the medians for all three of these work better than the means. In addition, there is a much more precise way of imputing rather than using one value for every missing value. We will begin by looking at our four categorical variables that are currently missing data, gps_height, longitude, population, and construction_year, grouped by their median values.

In [68]:
pop_medians = train['population'].groupby(train['district_code'])
gps_medians = train['gps_height'].groupby(train['district_code'])
year_medians = train['construction_year'].groupby(train['district_code'])
long_medians = train['longitude'].groupby(train['district_code'])
pop_medians.median()
gps_medians.median()
year_medians.median()
long_medians.median()
# tsh_medians = train['amount_tsh'].groupby(train['district_code'])
# tsh_medians.median()

district_code
0       0.0
1       5.0
2     100.0
3      50.0
4      30.0
5      50.0
6       0.0
7       1.0
8       0.0
13    300.0
23     24.0
30      0.0
33      1.0
43    350.0
53      1.0
60     35.0
62    400.0
63     86.0
67     15.5
80      0.0
Name: population, dtype: float64

district_code
0        0.0
1      518.0
2     1019.0
3      306.0
4      905.0
5      698.0
6        0.0
7     1015.0
8        0.0
13      33.0
23      91.0
30       0.0
33     348.5
43      61.0
53     112.0
60     -18.0
62      13.0
63     310.0
67     -26.0
80       0.0
Name: gps_height, dtype: float64

district_code
0        0
1     1990
2     1990
3     1985
4     1982
5     1988
6        0
7     1984
8        0
13    1997
23    2008
30       0
33    1989
43    2006
53    2003
60       0
62    1999
63    1986
67       0
80       0
Name: construction_year, dtype: int64

district_code
0     36.700402
1     35.533367
2     34.774940
3     34.179510
4     34.712542
5     35.784020
6     34.153484
7     36.105420
8     33.562773
13    39.185480
23    39.448954
30    30.710775
33    39.046767
43    39.129413
53    38.958142
60    39.666581
62    39.593148
63    38.507951
67    39.740539
80    34.020668
Name: longitude, dtype: float64

# Imputing Missing Data
The cell below imputes the medians of our population, gps_height, and construction_year through a groupby() methodology. We are essentially using the means of these columns, organized by district_code, to impute the missing values. Since we have missing values left over after that, due to district_code having missing values in itself, we will replace the remaining missing values with the overall median of the feature. I ran this model several different times with the numeric features filled in with the mean, median, and several log transformations. We are trying to normalize the data using log transformations. After looking at model performance across these various test runs, it became apparent that only taking the log of population was necessary, and that all imputations should be median rather than mean
- the code for the median imputation works by initially grouping the means of district_code by population
- once those means are identified, a function is created using lambda to transform the column

We are also replacing the populations of 1 in our popultaion feature, this was an intuitive decision, there are probably not any people that live alone in the wilderness that have pumps installed by funding groups for them, just a thought, and the model performed better when we imputed for 1 and 0 population values

In [82]:
train['population'] = train.groupby('district_code').population.transform(lambda x: x.replace(0, x.median()))
train['population'] = train.groupby('district_code').population.transform(lambda x: x.replace(1, x.median()))
train['population'].replace(0, np.median(train['population']), inplace=True)
train['population'] = np.log(train['population'])


#log skewed the distribution of this data left
train['gps_height'] = train.groupby('district_code').gps_height.transform(lambda x: x.replace(0, x.median()))
train['gps_height'].replace(0, np.median(train['gps_height']), inplace=True)

#log didn't make sense here, we would have had to transform the latitude as well and the dist. weren't different
train['longitude'] = train.groupby('district_code').longitude.transform(lambda x: x.replace(0, x.median()))
train['longitude'].replace(0, np.median(train['longitude']), inplace=True)

#the log of this is weird, don't need to transform
train['construction_year'] = train.groupby('district_code').construction_year.transform(lambda x: x.replace(0, x.median()))
train['construction_year'].replace(0, np.median(train['construction_year']), inplace=True)

# train['amount_tsh'] = train.groupby('district_code').amount_tsh.transform(lambda x: x.replace(0, x.mean()))
# train['amount_tsh'].replace(0, np.mean(train['amount_tsh']), inplace=True)

We need to check to see if the data was imputed properly, indeed it was! Groovy

In [142]:
train.head()

,date_recorded,funder,gps_height,installer,longitude,latitude,basin,region,district_code,lga,population,public_meeting,scheme_name,permit,construction_year,extraction_type,management,payment,water_quality,quantity,source,waterpoint_type,status_group
0,3/14/2011,other,1390,other,34.938093,-9.856322,Lake Nyasa,Iringa,5,Ludewa,4.691348,True,Roman,False,1999,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,functional
1,3/6/2013,other,1399,other,34.698766,-2.147466,Lake Victoria,Mara,2,Serengeti,5.634790,Unknown,Unknown,True,2010,gravity,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,functional
2,2/25/2013,other,686,other,37.460664,-3.821329,Pangani,Manyara,4,Simanjiro,5.521461,True,Nyumba ya mungu pipe scheme,True,2009,gravity,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,functional
3,1/28/2013,other,263,other,38.486161,-11.155298,Ruvuma / Southern Coast,Mtwara,63,Nanyumbu,4.060443,True,Unknown,True,1986,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,non functional
4,7/13/2011,other,518,other,31.130847,-1.825359,Lake Victoria,Kagera,1,Karagwe,1.609438,True,Unknown,True,1990,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,functional

# Shape New Prediction Data

__We now have to shape our prediction data (the dataset that our model will be evaluated on for any competition entry) in the same exact ways that we shaped our training data, everything fom this point forward until our modeling will be the same process that we stepped through for the training data__

In [10]:
#tried this model with and without amount_tsh
test.drop(['id', 'recorded_by', 'num_private', 'waterpoint_type_group', 'source_type', 'source_class', 
           'quantity_group', 'quality_group', 'payment_type',
           'management_group', 'extraction_type_group', 'extraction_type_class', 'region_code', 
          'subvillage', 'scheme_management', 'wpt_name', 'ward', 'amount_tsh'], axis=1, inplace=True)

In [88]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14850 entries, 0 to 14849
Data columns (total 22 columns):
date_recorded        14850 non-null object
funder               13981 non-null object
gps_height           14850 non-null int64
installer            13973 non-null object
longitude            14850 non-null float64
latitude             14850 non-null float64
basin                14850 non-null object
region               14850 non-null object
district_code        14850 non-null int64
lga                  14850 non-null object
population           14850 non-null int64
public_meeting       14029 non-null object
scheme_name          7758 non-null object
permit               14113 non-null object
construction_year    14850 non-null int64
extraction_type      14850 non-null object
management           14850 non-null object
payment              14850 non-null object
water_quality        14850 non-null object
quantity             14850 non-null object
source               14850 non-null object
waterpoint_type      14850 non-null object
dtypes: float64(2), int64(4), object(16)
memory usage: 2.5+ MB

In [84]:
#reduce the funder feature into less categories
# Use our previous function 
test['funder'] = train.apply(lambda row: purple_donkey(row), axis=1)

In [85]:
#reduce the installer feature into less categories
# Use our previous function 
test['installer'] = train.apply(lambda row: cheese_soup(row), axis=1)

**replace nas with unknown in these**

In [13]:
#lets replace scheme_name, permit and public meeting nans with 'unknown'
test['permit'].replace(np.nan, 'Unknown', inplace=True)
test['public_meeting'].replace(np.nan, 'Unknown', inplace=True)
test['scheme_name'].replace(np.nan, 'Unknown', inplace=True)

In [14]:
test.isna().sum()

date_recorded        0
funder               0
gps_height           0
installer            0
longitude            0
latitude             0
basin                0
region               0
district_code        0
lga                  0
population           0
public_meeting       0
scheme_name          0
permit               0
construction_year    0
extraction_type      0
management           0
payment              0
water_quality        0
quantity             0
source               0
waterpoint_type      0
dtype: int64

__Same as training set for numeric features that we are keeping__

In [15]:
test['population'] = test.groupby('district_code').population.transform(lambda x: x.replace(0, x.median()))
test['population'].replace(0, np.mean(test['population']), inplace=True)
test['population'] = np.log(test['population'])

test['gps_height'] = test.groupby('district_code').gps_height.transform(lambda x: x.replace(0, x.median()))
test['gps_height'].replace(0, np.median(test['gps_height']), inplace=True)

test['longitude'] = test.groupby('district_code').longitude.transform(lambda x: x.replace(0, x.median()))
test['longitude'].replace(0, np.median(test['longitude']), inplace=True)

test['construction_year'] = test.groupby('district_code').construction_year.transform(lambda x: x.replace(0, x.median()))
test['construction_year'].replace(0, np.median(test['construction_year']), inplace=True)

# test['amount_tsh'] = test.groupby('district_code').amount_tsh.transform(lambda x: x.replace(0, x.mean()))
# test['amount_tsh'].replace(0, np.mean(test['amount_tsh']), inplace=True)

__Our training set should have only one more column than our test "predictions" set, the label column__

In [16]:
test.shape
train.shape

(14850, 22)

(59400, 23)